{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
  <!-- Page Header -->

  <header class="masthead" style="background-image: url('{{post.img_url}}');">
    <div class="overlay" style="background-image:  url('{{ url_for('static', filename='img/edit-bg.jpg') }}');"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1 style="font-family:Arial, Helvetica, sans-serif; font-size: 4rem; text-align: center;">{{post.title}}</h1>
            <span  style="text-align: center;", class="meta">Posted by
              <a href="#">{{post.author.name}}</a>
              on {{post.date}}</span>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->


  <link href="{{ url_for('static', filename='css/post.css')}}" rel="stylesheet">
  <script src="{{url_for('static', filename='js/post.js')}}"></script>
<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="data:image/jpg;base64,">
      </div>
      <div class="blog-slider__content">
        <span style="font-size: 1.5rem; font-family: Arial, Helvetica, sans-serif;" class="blog-slider__code">{{post.ay}}</span>
        <div  class="blog-slider__title" style="font-family: Arial, Helvetica, sans-serif;">{{post.group1}}</div>
        <div class="blog-slider__title" style="font-family: Arial, Helvetica, sans-serif;">{{post.group2}}</div>
        <div class="blog-slider__title" style="font-family: Arial, Helvetica, sans-serif;">{{post.group3}}</div>
        <div  style="font-size: 1.5rem; font-family: Arial, Helvetica, sans-serif;" class="blog-slider__text">{{post.guide}} </div>
        <a href="#" class="blog-slider__button">Download PPT</a>
      </div>
    </div>
   
    

    
  </div>
</div>
  
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!--{{ post.body|safe }} -->
          <hr>
            {% if current_user.id == post.author_id %}
            <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
            </div>
            {% endif %}

 

<!--           Comments Area -->
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='comment') }}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

          <div class="col-lg-8 col-md-10 mx-auto comment">
            {% for comment in post.comments: %}
              <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <img src="{{ comment.comment_author.email | gravatar }}"/>
                    </div>
                    <div class="commentText">
                      {{comment.comment|safe}}
                      <span class="date sub-text">{{comment.comment_author.name}}</span>
                    </div>
                </li>
              </ul>
            {% endfor %}
            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}
